.list{
    background-color:#FF8040;
    width:400px;
    color:white;
    padding:40px;
    text-align:center;
}

.list input{
    display:block;
    margin:20px auto;
    text-align:center;
    background:none;
    padding:12px;
    font-size:15px;
    border-radius:22px;
    border-color:white;
    outline-color:white;
    color:white;
}